{% extends 'base.html' %}

{% block content %}
<h2>{{ poll.question }}</h2>
{% if poll.has_expired %}
    <p>This poll has ended.</p>
{% else %}
    <form method="post" action="{% url 'polls:vote' poll.id %}">
        {% csrf_token %}
        {% for choice in choices %}
            <input type="radio" name="choice" value="{{ choice.id }}" id="choice_{{ choice.id }}">
            <label for="choice_{{ choice.id }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <button type="submit" {% if poll.has_expired %}disabled{% endif %}>Vote</button>
    </form>
{% endif %}
{% if total_votes %}
    <h3>Results</h3>
    <ul>
      {% for choice, percentage, voter_count in zip(choices, percentage_votes, choice_voter_counts) %}
        <li>{{ choice.choice_text }} - {{ percentage }}% votes ({{ voter_count }} voters)</li>
      {% endfor %}
    </ul>
  {% endif %}
<p>Total votes: {{ total_votes }}</p>
{% endblock %}